<h2 mat-dialog-title>Criar novo Cliente</h2>
<mat-dialog-content>
    <form [formGroup]="formulario">
        <div class="col-lg-6">
            <mat-form-field>
                <input matInput formControlName="nome" placeholder="Nome">
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field>
                <input matInput formControlName="cpf" placeholder="CPF" maxlength="11">
            </mat-form-field>
        </div>
        <div class="col-lg-12">
            <mat-slide-toggle formControlName="inadimplente">Inadimplente?</mat-slide-toggle>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [disabled]="!formulario.valid" (click)="submit(formulario)">Salvar</button>
    <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>